@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

:root {
    --smaller: .75;
}

.container-clock {
    color: #333;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding: 1em;
    /* text-transform: uppercase; */
}

li span {
    display: block;
    font-size: 3.5rem;
}


/* @media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
} */


/* BG */

.clock-bg {
    position: relative;
    display: block;
    z-index: 0;
    width: 100%;
    height: 60vh;
    box-shadow: #22222214;
}

.clock-bg img[id=bg] {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;

}

.clock-bg img[id=dates] {
    width: 90%;
    height: 70%;
    bottom: 1.5%;
    position: absolute;
    object-fit: contain;
    object-position: center;
}

.clock-bg img[id=dates2] {
    width: 90%;
    height: 75%;
    bottom: 1.5%;
    position: absolute;
    object-fit: contain;
    visibility: hidden;
}

.container-clock {
    position: absolute;
    right: 10%;
    width: 80%;
    top: 3%;
}

#countdown {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 30%;
}

/* @media screen and (max-width:1180px) {

    .clock-bg {
        height: 60%;
    }

    .container-clock li {
        font-size: 15px;
    }

    .container-clock li span {
        font-size: 25px;
    }

}


@media screen and (max-width:1050px) {

    .clock-bg {
        height: 50%;
    }

    .container-clock li {
        font-size: 15px;
    }

    .container-clock li span {
        font-size: 25px;
    }
}

@media screen and (max-width:850px) {

    .clock-bg {
        height: 40%;
    }

    .clock-bg img[id=dates] {
        width: 100%;
        height: 80;
        margin-left: 0%;
        margin-right: 0%;
    }

    .container-clock li {
        font-size: 12px;
    }

    .container-clock li span {
        font-size: 18px;
    }
}


@media screen and (max-width:450px) {


    .clock-bg {
        height: 40%;
    }

    .clock-bg img[id=dates] {
        visibility: hidden;
    }

    .clock-bg img[id=dates2] {
        width: 100%;
        height: 75%;
        bottom: 1.5%;
        position: absolute;
        object-fit: contain;
        visibility: visible;
    }

    .container-clock li {
        font-size: 12px;
    }

    .container-clock li span {
        font-size: 18px;
    }
} */