@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');


.marq {
    position: relative;
    background-color: #fafafa;
    font-family: 'Montserrat';
    padding-top: 0.6%;
    color: rgba(32, 157, 216, 1);
    font-weight: 00;
    font-size: calc(1*(1vh + 1vw));

}



@media screen and (max-width: 920px) {

    .marq {
        font-size: calc(1*(1.5vh + 1.5vw));

    }
}