@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
}

.slider {
    width: 100%;
    height: 87vh;
    display: block;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle-container_slider {
    width: 100%;
    top: 10%;
    position: absolute;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    color: #fff;
}

.middle-container_slider h1 {
    font-weight: 400;
    margin: 0;
    font-size: calc(1.1*(1vh + 1vw));
    margin-bottom: 15px;
}

.middle-container_slider h1 span {
    font-size: calc(1.6*(1vh + 1vw));
    ;
}

.middle-container_slider h2 {
    font-weight: 400;
    font-size: calc(1*(1vh + 1vw));
    margin: 0;
    margin-bottom: 1%;
}

.middle-container_slider h2 span {
    font-size: calc(1.4*(1vh + 1vw));
}

.middle-container_slider h3 {
    font-weight: 400;
    font-size: calc(0.8*(1vh + 1vw));
    margin-top: 40px;
}

.middle-container_slider a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: calc(0.8*(1vh + 1vw));
    border: 2px solid #fff;
    padding: 14px 60px;
    margin-top: 10px;
    font-weight: 400;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.middle-container_slider a:hover {
    background-color: #fff;
    color: black;
    border: none;
    box-shadow: 0px 15px 20px rgba(34, 34, 34, 0.668);
    transform: translateY(-7px);
}

.bottom-container {
    bottom: 1.5%;
    width: 100%;
    height: 25%;
    position: absolute;
    text-align: center;
}


.bottom-container img[id="collab"] {
    width: auto;
    height: 100%;
    bottom: 0;
    align-self: center;
    position: relative;
}

.register-box {
    display: flex;
    flex-direction: column;
    /* background-image: url("../img/water.png"); */
    background-size: 100% 100%;
    margin: 4% 10%;
    text-align: center;
    color: white;
}

.register-box .text a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    margin-top: 5%;
    margin-bottom: 8%;
    font-weight: 400;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding: 2% 7%;
    font-size: large;
}

.register-box h1 {
    font-family: "Cormorant Garamond", serif;
    padding: 1.4%;
    font-size: x-large;
}

.register-box .text {
    font-family: "Cormorant Garamond", serif;
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: large;
}

.register-box .text a:hover {
    background-color: #fff;
    color: black;
    border: none;
    box-shadow: 0px 15px 20px rgba(34, 34, 34, 0.668);
    transform: translateY(-7px);
}




@media screen and (max-width: 920px) {

    .slider {
        width: 100%;
        height: 91vh;
        display: block;
        position: relative;
    }


    .middle-container_slider h1 {
        font-size: calc(1.1*(1.5vh + 1.5vw));
    }

    .middle-container_slider h1 span {
        font-size: calc(1.4*(1.5vh + 1.5vw));
    }

    .middle-container_slider h2 {
        font-size: calc(1*(1.5vh + 1.5vw));
    }

    .middle-container_slider h2 span {
        font-size: calc(1.3*(1.5vh + 1.5vw));
    }

    .middle-container_slider h3 {
        font-size: calc(0.8*(1.5vh + 1.5vw));
    }

    .middle-container_slider a {
        font-size: calc(0.8*(1.5vh + 1.5vw));
    }

    .bottom-container {
        height: 20%;
    }
}