@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');


.inter-outer {
    width: 100%;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-top: 2%;
    font-family: 'Montserrat';
    padding-bottom: 2%;
    text-align: justify;
    display: block;
}


.inter-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 45px;
    padding-left: 3%;
}

.outer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.inter-card {
    display: flex;
    align-items: center;
    text-align: left;
    width: 450px;
    padding: 15px 30px 15px 20px;
    background: linear-gradient(-140deg, #dfecf6, #90b1fa6e, #6cd1fc8c);
    border-radius: 24px;
    /* border: 1px solid rgb(189, 189, 189); */
    box-shadow: 0px 10px 20px rgba(130, 130, 130, 0.25);
}

.inter-card img {
    max-width: 280px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 40px;
    border-radius: inherit;
}

.inter-card h4 {
    font-size: calc(0.8* (1vh + 1vw));
    margin: 0;
}

.inter-card h3 {
    font-size: calc(0.7* (1vh + 1vw));
    font-weight: 400;
    color: cornflowerblue;
    margin: 5px 0 15px;
}

.inter-card h5 {
    font-size: calc(0.65* (1vh + 1vw));
    font-weight: 400;
    color: rgb(0 0 0 / 70%);
    margin-bottom: 24px;
}

.inter-card .buttons {
    display: inline-flex;
    gap: 10px;
}

.inter-card button {
    border: 1px solid #a7a7a7;
    background: transparent;
    color: #a7a7a7;
    font-family: inherit;
    padding: 16px 20px;
    font-size: 18px;
    border-radius: 6px;
    min-width: 120px;
}

.inter-card button.primary {
    background: #fe5c89;
    color: #f9f9f9;
    border: 0;
}


@media screen and (max-width: 1030px) {
    .inter-card {
        width: 400px;
    }

    .inter-card img {
        width: 120px;
        height: 120px;
    }

}


@media screen and (max-width: 900px) {
    .inter-card {
        width: 340px;
    }

    .inter-card img {
        width: 100px;
        height: 100px;
    }

    .inter-inner {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 50px;
        padding-left: 5%;
    }

    .inter-card h4 {
        font-size: calc(0.8* (1.2vh + 1.2vw));
        margin: 0;
    }

    .inter-card h3 {
        font-size: calc(0.7* (1.2vh + 1.2vw));
        font-weight: 400;
        color: cornflowerblue;
        margin: 5px 0 15px;
    }

    .inter-card h5 {
        font-size: calc(0.65* (1.2vh + 1.2vw));
        font-weight: 400;
        color: rgb(0 0 0 / 70%);
        margin-bottom: 24px;
    }

}


@media screen and (max-width: 720px) {

    .inter-outer {
        margin-top: 20%;
    }

    .inter-card {
        margin: 0 40px;
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;
        text-align: center;
        flex-direction: column;
    }

    .inter-card h2 {
        font-size: 30px;
    }

    .inter-card img {
        margin: -60px 0 30px 0;
        width: 120px;
        height: 110px;
    }

    .inter-card .stats var {
        min-width: 90px;
    }

    .inter-card button {
        min-width: 160px;
    }

    .inter-inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 0px;
        grid-row-gap: 80px;
        padding-left: 0%;
    }

    .inter-card h4 {
        font-size: calc(0.8* (1.6vh + 1.6vw));
        margin: 0;
    }

    .inter-card h3 {
        font-size: calc(0.7* (1.6vh + 1.6vw));
        font-weight: 400;
        color: cornflowerblue;
        margin: 5px 0 15px;
    }

    .inter-card h5 {
        font-size: calc(0.65* (1.6vh + 1.6vw));
        font-weight: 400;
        color: rgb(0 0 0 / 70%);
        margin-bottom: 24px;
    }


}


@media screen and (max-width: 300px) {

    .inter-outer {
        margin-top: 20%;
    }

    .inter-card {
        margin: 0 10px 0px 0px;
        padding-left: 5px;
        padding-right: 5px;
        width: 270px;
        text-align: center;
        flex-direction: column;
    }

    .inter-card h2 {
        font-size: 30px;
    }

    .inter-card img {
        margin: -60px 0 20px 0;
        width: 120px;
        height: 110px;
    }

    .inter-card .stats var {
        min-width: 90px;
    }

    .inter-card button {
        min-width: 160px;
    }

    .inter-inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-column-gap: 0px;
        grid-row-gap: 80px;
        padding-left: 0%;
    }

    .inter-card h4 {
        font-size: calc(0.8* (1.8vh + 1.8vw));
        margin: 0;
    }

    .inter-card h3 {
        font-size: calc(0.7* (1.8vh + 1.8vw));
        font-weight: 400;
        color: cornflowerblue;
        margin: 5px 0 15px;
    }

    .inter-card h5 {
        font-size: calc(0.65* (1.8vh + 1.8vw));
        font-weight: 400;
        color: rgb(0 0 0 / 70%);
        margin-bottom: 24px;
    }


}

.inter-card .stats {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0 0 24px;
    padding: 0;
}

.inter-card .stats var {
    display: block;
    font-style: normal;
    font-size: 26px;
}

.inter-card .stats label {
    opacity: 0.5;
}