@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');



.Jwrapper {
    margin-top: 3%;
    text-align: center;
    display: block;
    position: relative;
}

.Jwrapper h1 {
    font-family: "Montserrat";
    font-size: calc(1* (1vh + 1vw));
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
}


.Jwrapper .Jpage-title h1 {
    font-family: 'Josefin Sans';
    font-size: calc(2* (1vh + 1vw));
    margin-top: 3.7%;
}

.Jwrapper .Jpage-title h3 {
    font-family: 'Montserrat';
    font-size: calc(0.8* (1vh + 1vw));
    font-weight: 400;
    margin-bottom: 3.7%;
}

.Jour_team {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.Jour_team .Jteam_member-s {
    width: 350px;
    height: 250px;
    /* border: 0.1px solid #d8d8d8; */
    border-radius: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #ffffff;
    padding: 20px 10px;
}

.Jour_team .Jteam_member-s .img-container1-sponsors {
    width: 100%;
    height: 70%;
}

.Jour_team .Jteam_member-s .img-container1-sponsors img {
    /* width: 150px; */
    height: 150px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}


.Jour_team .Jteam_member-s .img-container1-sponsors2 {
    width: 100%;
    height: 70%;
}

.Jour_team .Jteam_member-s .img-container1-sponsors2 img {
    /* width: 150px; */
    height: 110px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.Jour_team .Jteam_member-s .img-container2-partner {
    width: 100%;
    height: 70%;
}

.Jour_team .Jteam_member-s .img-container2-partner img {
    width: 150px;
    margin-top: 5%;
    /* height: 70px; */
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.Jour_team .Jteam_member-s .img-container3-partner {
    width: 100%;
    height: 70%;
}

.Jour_team .Jteam_member-s .img-container3-partner img {
    /* width: 200px; */
    height: 48px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}


.Jour_team .Jteam_member-s .img-container-square-partner {
    width: 100%;
    height: 70%;
}

.Jour_team .Jteam_member-s .img-container-square-partner img {
    /* width: 200px; */
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.Jour_team .Jteam_member-s .img-container-square-partner2 img {
    /* width: 200px; */
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.Jour_team .Jteam_member-s h3 {
    height: 30%;
    font-size: calc(1* (1vh + 1vw));
    line-height: 22px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.Jour_team .Jteam_member-s .member1_img img {
    width: 40%;
    height: 70%;
}

/* .Jour_team .Jteam_member-s h3 {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 15px 0 0px;
} */

.Jour_team .Jteam_member-s span {
    font-size: 10px;
}

.Jour_team .Jteam_member-s p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}


.Jour_team .Jteam_member-s .member_img .social_media .item {
    margin: 0 10px;
}

.Jour_team .Jteam_member-s .member_img .social_media .fab {
    color: #8c7ae6;
    font-size: 20px;
}

.Jour_team .Jteam_member-s .member_img:hover .social_media {
    transform: scale(1);
}


@media screen and (max-width: 1030px) {
    .Jour_team .Jteam_member-s {
        width: 300px;
        height: 210px;
    }

    .Jwrapper h1 {
        font-size: calc(1* (1.2vh + 1.2vw));
    }


    .Jwrapper .Jpage-title h1 {
        font-size: calc(2* (1.2vh + 1.2vw));
    }

    .Jwrapper .Jpage-title h3 {
        font-size: calc(0.7* (1.2vh + 1.2vw));
    }

    .Jour_team .Jteam_member-s .img-container1-sponsors img {
        /* width: 150px; */
        height: 100px;
        /* margin-top: 8%; */
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }


    .Jour_team .Jteam_member-s .img-container1-sponsors2 img {
        /* width: 150px; */
        height: 75px;
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }

    .Jour_team .Jteam_member-s .img-container2-partner img {
        width: 120px;
    }

    .Jour_team .Jteam_member-s .img-container3-partner img {
        height: 40px;
    }

    .Jour_team .Jteam_member-s .img-container-square-partner img {
        height: 80px;

    }

    .Jour_team .Jteam_member-s h3 {
        font-size: calc(1* (1.1vh + 1.1vw));
        line-height: 22px;
    }
}

@media screen and (max-width: 600px) {
    .Jour_team .Jteam_member-s {
        width: 200px;
        height: 100px;
    }

    .Jwrapper h1 {
        font-size: calc(1* (1.2vh + 1.2vw));
    }


    .Jwrapper .Jpage-title h1 {
        font-size: calc(2* (1.2vh + 1.2vw));
    }

    .Jwrapper .Jpage-title h3 {
        font-size: calc(0.7* (1.2vh + 1.2vw));
    }

    .Jour_team .Jteam_member-s .img-container1-sponsors img {
        /* width: 150px; */
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }

    .Jour_team .Jteam_member-s .img-container1-sponsors2 {
        width: 100%;
        height: 70%;
        margin-bottom: 3%;
    }

    .Jour_team .Jteam_member-s .img-container1-sponsors2 img {
        width: 150px;
        height: 60px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }

    .Jour_team .Jteam_member-s .img-container2-partner img {
        width: 90px;
    }

    .Jour_team .Jteam_member-s .img-container3-partner img {
        height: 30px;
    }

    .Jour_team .Jteam_member-s .img-container-square-partner img {
        height: 60px;

    }

    .Jour_team .Jteam_member-s h3 {
        font-size: calc(1* (1vh + 1vw));
        line-height: 18px;
    }
}

@media screen and (max-width: 450px) {
    .Jour_team .Jteam_member-s {
        width: 260px;
        height: 120px;
    }

    .Jwrapper h1 {
        font-size: calc(1* (1.5vh + 1.5vw));
    }


    .Jwrapper .Jpage-title h1 {
        font-size: calc(2* (1.5vh + 1.5vw));
    }

    .Jwrapper .Jpage-title h3 {
        font-size: calc(0.8* (1.5vh + 1.5vw));
    }

    .Jour_team .Jteam_member-s .img-container1-sponsors img {
        /* width: 280px; */
        height: 100px;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }

    .Jour_team .Jteam_member-s .img-container2-partner img {
        width: 90px;
    }

    .Jour_team .Jteam_member-s .img-container3-partner img {
        height: 30px;
    }

    .Jour_team .Jteam_member-s .img-container-square-partner img {
        height: 60px;

    }

    .Jour_team .Jteam_member-s h3 {
        font-size: calc(1* (1.5vh + 1.5vw));
        line-height: 18px;
    }
}