.desktop-key-dates {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.desktop-key-dates h4 {
    font-size: calc(0.7* (1vh + 1vw));
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 28px;
}


.desktop-key-dates h6 {
    font-size: calc(0.8* (1vh + 1vw));
    font-weight: 500;
}


.desktop-key-dates .left-sub-container {
    width: 160px;
    height: 45px;
    margin-bottom: 20%;
    background-color: #F0F0F0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

.desktop-key-dates .left-sub-container h5 {
    font-size: calc(0.7* (1vh + 1vw));
    color: #6EAABD;
    padding-top: 12px;
    font-weight: 500;
    text-align: center;
}


.mobile-key-dates {
    display: none;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}

.mobile-key-dates h4 {
    font-size: calc(0.7* (1vh + 1vw));
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 28px;
}


.mobile-view-title h6 {
    font-size: calc(0.8* (1vh + 1vw));
    font-weight: 500;
    margin-bottom: 2%;
    display: none;
}

.mobile-key-dates .left-sub-container {
    width: 160px;
    height: 45px;
    margin-bottom: 20%;
    background-color: #F0F0F0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

.mobile-key-dates .left-sub-container h5 {
    font-size: calc(0.7* (1vh + 1vw));
    color: #6EAABD;
    padding-top: 12px;
    font-weight: 500;
    text-align: center;
}

.mobile-inner-box {
    width: 23%;
    text-align: center;
}


@media screen and (max-width: 930px) {
    .desktop-key-dates {
        display: none;
    }

    .mobile-key-dates {
        display: flex;

    }

    .mobile-key-dates h4 {
        font-size: calc(0.7* (1.2vh + 1.2vw));

    }

    .mobile-view-title h6 {
        font-size: calc(1* (1.2vh + 1.2vw));
        display: block;
    }

    .mobile-key-dates .left-sub-container h5 {
        font-size: calc(0.7* (1.2vh + 1.2vw));

    }

    .mobile-inner-box {
        width: 25%;
    }
}

@media screen and (max-width: 830px) {


    .mobile-key-dates .left-sub-container {
        width: 150px;

    }


}

@media screen and (max-width: 600px) {
    .mobile-inner-box {
        width: 25%;
    }

    .mobile-key-dates .left-sub-container {
        width: 110px;
        height: 30px;
        border-radius: 7px;
    }

    .mobile-key-dates .left-sub-container h5 {
        padding-top: 8px;
    }
}

@media screen and (max-width: 450px) {
    .mobile-inner-box {
        width: 33%;
    }

    .mobile-key-dates .left-sub-container {
        width: 110px;
        height: 30px;
        border-radius: 7px;
    }

    .mobile-key-dates .left-sub-container h5 {
        padding-top: 8px;
    }

    .mobile-key-dates h4 {
        line-height: 22px;
    }

    .mobile-key-dates h4 {
        font-size: calc(0.7* (1.2vh + 1.2vw));

    }

    .mobile-view-title h6 {
        font-size: calc(1* (1.3vh + 1.3vw));
    }

    .mobile-key-dates .left-sub-container h5 {
        font-size: calc(0.7* (1.3vh + 1.3vw));

    }
}

@media screen and (max-width: 380px) {


    .mobile-key-dates .left-sub-container {
        width: 90px;
        height: 30px;
        border-radius: 7px;
    }

    .mobile-key-dates .left-sub-container h5 {
        padding-top: 9px;
    }

    .mobile-key-dates h4 {
        line-height: 22px;
    }

    .mobile-key-dates h4 {
        font-size: calc(0.7* (1.4vh + 1.4vw));

    }

    .mobile-view-title h6 {
        font-size: calc(1* (1.4vh + 1.4vw));
    }

    .mobile-key-dates .left-sub-container h5 {
        font-size: calc(0.7* (1.4vh + 1.4vw));

    }


}

@media screen and (max-width: 300px) {


    .mobile-key-dates .left-sub-container {
        width: 90px;
        height: 30px;
        border-radius: 7px;
    }

    .mobile-key-dates .left-sub-container h5 {
        padding-top: 9px;
    }

    .mobile-key-dates h4 {
        line-height: 22px;
    }

    .mobile-key-dates h4 {
        font-size: calc(0.7* (1.4vh + 1.4vw));

    }

    .mobile-view-title h6 {
        font-size: calc(1* (1.4vh + 1.4vw));
    }

    .mobile-key-dates .left-sub-container h5 {
        font-size: calc(0.7* (1.4vh + 1.4vw));

    }

    .mobile-inner-box {
        width: 48%;
    }


}