.page-title {
    text-align: center;
}

.page-title h1 {
    font-family: 'Josefin Sans';
    font-size: calc(2* (1vh + 1vw));
    margin-top: 5%;
}

.page-title h3 {
    font-family: 'Montserrat';
    font-size: calc(0.8* (1vh + 1vw));
    font-weight: 400;
    margin-bottom: 5%;
}

.align-table h1 {
    font-family: 'Montserrat';
    font-size: calc(1.3* (1vh + 1vw));
    text-align: center;
    font-weight: 400;
    margin-top: 3%;
}

.align-table ul {
    line-height: 40px;
    font-size: calc(0.8* (1vh + 1vw));
}

.align-table ul a {
    word-wrap: break-word;
}

.align-submission h1 {
    font-family: 'Montserrat';
    font-size: calc(1.3* (1vh + 1vw));
    text-align: center;
    font-weight: 400;
    margin-top: -15%;
}

.align-submission ul {
    line-height: 40px;
    font-size: calc(0.8* (1vh + 1vw));
}


.submission-flex {
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
}

.submission-flex .sub-left-container {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
    padding-left: 5%;
}



.submission-flex .sub-right-container {
    width: 40%;
    margin-left: 5%;
    height: fit-content;
}

<<<<<<< HEAD
.align-submission ul li button {

    padding: 1% 2% 1% 2%;
    color: #fff;
    font-size: calc(0.7* (1vh + 1vw));
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 8px;


    text-align: center;
    transition: all 0.2s ease;
    background: #76AEC1;
    display: block;
}

.align-submission ul li button:hover {
    background: #6798a8;
}

=======
>>>>>>> 78363964a433aed830c86685b11a96bf03c116f7


@media screen and (max-width: 1030px) {

    .page-title h1 {
        font-size: calc(2* (1.2vh + 1.2vw));
    }

    .page-title h3 {
        font-size: calc(0.7* (1.2vh + 1.2vw));
    }

    .align-table ul {
        font-size: calc(0.8* (1.2vh + 1.2vw));
    }

    .align-submission ul {
        font-size: calc(0.8* (1.2vh + 1.2vw));
    }

<<<<<<< HEAD
    .align-submission ul li button {
        font-size: calc(0.7* (1.2vh + 1.2vw));
        padding: 2% 2% 2% 2%;
    }

=======
>>>>>>> 78363964a433aed830c86685b11a96bf03c116f7

}

@media screen and (max-width: 930px) {

    .align-submission h1 {
        margin-top: 3%;
    }

    .submission-flex .sub-left-container {
        width: 100%;
        padding-left: 0%;
    }

    .submission-flex .sub-right-container {
        width: 100%;
        margin-left: 0%;
<<<<<<< HEAD

    }

    .align-submission ul li button {
        font-size: calc(0.7* (1.5vh + 1.5vw));
=======
        ;
>>>>>>> 78363964a433aed830c86685b11a96bf03c116f7
    }



}

@media screen and (max-width: 600px) {

    .page-title h1 {
        font-size: calc(2* (1.2vh + 1.2vw));
    }

    .page-title h3 {
        font-size: calc(0.7* (1.2vh + 1.2vw));
    }

<<<<<<< HEAD


=======
>>>>>>> 78363964a433aed830c86685b11a96bf03c116f7
}

@media screen and (max-width: 450px) {

    .page-title h3 {
        font-size: calc(0.8* (1.5vh + 1.5vw));
    }

    .align-table ul {
        line-height: 25px;
    }

    .align-submission ul {
        line-height: 25px;
    }

<<<<<<< HEAD
    .align-submission ul li button {
        padding: 3% 3% 3% 3%;
    }

=======
>>>>>>> 78363964a433aed830c86685b11a96bf03c116f7


}