@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap');


.theme-outer {
    width: 100%;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-top: 2%;
    font-family: 'Montserrat';
    padding-bottom: 2%;
    text-align: justify;
}


.theme-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.theme-inner h3 {
    color: #209dd8;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

.theme-inner p {
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.theme-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.theme-no {
    width: 16%;
    height: 100%;
    justify-content: center;
}

.theme-no-box {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #1989bc;
    color: white;
    justify-content: center;
    text-align: center;
}

.theme-no-box p {
    color: white;
    font-size: calc(0.8* (1vh + 1vw));
    padding-top: 18%;

}

.theme-details {
    width: 84%;
    height: 100%;
}

.theme-details h3 {
    font-size: calc(0.8* (1vh + 1vw));
    font-weight: 500;
}

.theme-details p {
    font-size: calc(0.6* (1vh + 1vw));
    padding-top: 3%;
}


@media screen and (max-width: 1030px) {

    .theme-no-box p {
        font-size: calc(0.8* (1.2vh + 1.2vw));
        padding-top: 22%;

    }

    .theme-details h3 {
        font-size: calc(0.8* (1.2vh + 1.2vw));
    }

    .theme-details p {
        font-size: calc(0.6* (1.2vh + 1.2vw));
    }


}

@media screen and (max-width: 600px) {
    .theme-no-box p {
        font-size: calc(0.8* (1.6vh + 1.6vw));

    }

    .theme-details h3 {
        font-size: calc(0.8* (1.6vh + 1.6vw));
    }

    .theme-details p {
        font-size: calc(0.6* (1.6vh + 1.6vw));
    }
}

@media screen and (max-width: 450px) {
    .theme-no-box {
        width: 40px;
        height: 40px;
    }

    .theme-no-box p {
        padding-top: 18%;

    }
}

@media screen and (max-width: 380px) {

    .theme-no-box p {
        padding-top: 22%;

    }
}

@media screen and (max-width: 300px) {

    .theme-inner {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}